* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5c5c5;
}

h1 {
  font-size: 1.5rem;
}

.container-all-paket {
  display: flex;
  gap: 2rem;
  padding: 3rem 2rem;
}

.container-filters {
  width: 25rem;
  height: max-content;
  padding: 3rem 1rem;
  background: #afafaf;
}

#filters-judul-paket {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}

#filter-bulan {
  display: none;
}

.content-bulan {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

#filter-harga {
  display: none;
}

.content-harga {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

#package-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px;
}

/* ---------- Class JS ---------- */

.paket {
  position: relative;
  padding: 1rem 0 2rem 0;
  border-radius: 3px;
  background: #afafaf;
}

.paket h2 {
  min-height: 6rem;
  width: 90%;
  margin: 0 auto;
}

.paket img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.container-paket {
  padding: 0 1rem;
}

.container-paket span {
  position: absolute;
  bottom: 6.2rem;
  right: 10px;
  font-size: 1rem;
}

/* ---------- MEDIA QUERIES ---------- */

@media screen and (max-width: 1024px) {
  .container-all-paket {
    flex-direction: column;
  }

  #package-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #package-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #package-list {
    grid-template-columns: 1fr;
  }

  .container-filters {
    width: 100%;
  }
}
